# Notion
NOTION_API_KEY=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_ACQUEREURS_DB=11b1edbd9fd04319ba3a708cdb0db6c4
NOTION_BIENS_DB=d7b1ec4b954b45a4a252d5e9ee564d92
NOTION_ACTIVITES_DB=cf732b46fb634d949ad22b8a5d692688

# Anthropic
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
CRON_SECRET=un-secret-long-et-aleatoire

# Email (Resend)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EMAIL_FROM=contact@optimmodom.fr
